<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="mat-card-cvr">
<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>GL POC</mat-card-title>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Enter GL Code Description</mat-label>
      <input matInput [(ngModel)]="searchName">
    </mat-form-field>
  </mat-card-content>
  <p></p>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="getPath()">Submit</button>
    <button mat-raised-button color="accent" (click)="reset()">Reset</button>
  </mat-card-actions>
  <!-- <table *ngIf="myData" align="center">
    <tr>
      <th>Data</th>
    </tr>
    <tr *ngFor="let item of myData;">
      <td>{{item}}</td>
    </tr>
  </table> -->
  <ul id="myUL" *ngIf="myData">
    <li *ngFor="let item of myData;"><span class="caret">{{item}}</span>
    </li>
  </ul>
</mat-card>
</div>
<router-outlet></router-outlet>
<script>
  var toggler = document.getElementsByClassName("caret");
  var i;
  
  for (i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
      this.parentElement.querySelector(".nested").classList.toggle("active");
      this.classList.toggle("caret-down");
    });
  }
  </script>